@import "./src/scss/mixins";
@import "./src/scss/variables";
@media (max-width: 1325px) {
  .header-registration {
    padding: 0px 0 55px 0;
    &__wrapper,
    &__content {
      @include flexbox;
      @include flex-direction(column);
      @include align-items(center);
    }
    &__content {
      &-button {
        margin: 40px 0 40px 0;
      }
    }
    &__image {
      @include flexbox;
      img {
        position: initial;
        width: 500px;
        height: 300px;
      }
    }
  }
}