@import "./src/scss/mixins";
@import "./src/scss/variables";
@media (max-width: 1599px) {
  .main-info {
    padding: 75px 0 95px 0;
    &__content {
      &__advantages {
        margin: 50px 0 0 0px;
        &-item {
          width: 35vw;
          margin: 15px 15px 0 0;
          &__title {
            padding: 15px 15px 15px 20px;
          }
          &__subtitle {
            padding: 0 30px 15px 20px;
          }
          img {
            padding: 21px 10px 21px 0;
          }
        }
      }
    }
  }
}
@media (max-width: 1110px) {
  .main-info {
    &__content {
      &__advantages {
        @include flexbox;
        @include flex-direction(column);
        @include align-items(center);
        &-item {
          width: $width-block;
          @include flexbox;
          @include justify-content(space-between);
        }
      }
    }
  } 
}