@mixin flexbox {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
@mixin flex-direction($direction: row) {
  @if $direction == row-reverse {
    -webkit-box-direction: reverse;
    -webkit-box-orient: horizontal;
    -moz-box-direction: reverse;
    -moz-box-orient: horizontal;
  } @else if $direction == column {
      -webkit-box-direction: normal;
      -webkit-box-orient: vertical;
      -moz-box-direction: normal;
      -moz-box-orient: vertical;
    } @else if $direction == column-reverse {
        -webkit-box-direction: reverse;
        -webkit-box-orient: vertical;
        -moz-box-direction: reverse;
        -moz-box-orient: vertical;
    } @else {
       -webkit-box-direction: normal;
       -webkit-box-orient: horizontal;
       -moz-box-direction: normal;
       -moz-box-orient: horizontal;
    }
       -webkit-flex-direction: $direction;
       -ms-flex-direction: $direction;
       flex-direction: $direction;
  }
  @mixin justify-content($value: flex-start) {
    @if $value == flex-start {
      -webkit-box-pack: start;
      -moz-box-pack: start;
      -ms-flex-pack: start;
    } @else if $value == flex-end {
        -webkit-box-pack: end;
        -moz-box-pack: end;
        -ms-flex-pack: end;
    } @else if $value == space-between {
        -webkit-box-pack: justify;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
    } @else if $value == space-around {
        -ms-flex-pack: distribute;
    } @else {
        -webkit-box-pack: $value;
        -moz-box-pack: $value;
        -ms-flex-pack: $value;
    }
        -webkit-justify-content: $value;
        justify-content: $value;
  }
  @mixin align-items($value: stretch) {
    @if $value == flex-start {
      -webkit-box-align: start;
        -moz-box-align: start;
        -ms-flex-align: start;
    } @else if $value == flex-end {
        -webkit-box-align: end;
        -moz-box-align: end;
        -ms-flex-align: end;
    } @else {
        -webkit-box-align: $value;
        -moz-box-align: $value;
        -ms-flex-align: $value;
    }
        -webkit-align-items: $value;
        align-items: $value;
  }
@mixin transform($value){
  -webkit-transform: scale($value);
  -moz-transform: scale($value);
  -o-transform: scale($value);
}
@mixin font-source-sans($font-family:false ,$size: false, $colour: false, $weight: false,  $lh: false) {
    @if $font-family == 'Whitney Book'{
        font-family: 'Whitney Book'; 
    } @else if $font-family == 'Segoe UI Regular' {
        font-family: 'Segoe UI Regular';
    } 
    @if $size { font-size: $size; }
    @if $colour { color: $colour; }
    @if $weight { font-weight: $weight; }
    @if $lh { line-height: $lh; }
  }