$width-block: 75vw;
$background-gradient: linear-gradient(90deg, #2D1686 0%, #4E33B5 100%);
$background-advantages: #F6F5F9;
$basic-color-button: #F25B24;
$basic-text-color-light: #FFFFFF;
$basic-text-color-dark: #2E2D35;
$basic-text-color-medium: #474351;
$popup-background: #FFFFFF;
$popup-placeholder-text-color: #918D9A;