@font-face {
    font-family: 'Segoe UI Regular';
    src: url('../fonts/SegoeUI.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Whitney Book';
    src: url('../fonts/Whitney-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}