@import "mixins.scss";
@import "variables.scss";
.main-info {
  @include flexbox;
  @include justify-content(center);
  width: 100%;
  padding: 130px 0 130px 0;
  &__wrapper {
    width: $width-block;
  }
  &__content {
    @include flexbox;
    @include flex-direction(column);
    &__title {
      @include font-source-sans('Whitney Book', 2.4rem, $basic-text-color-dark, 600, 52px);
    } 
    &__advantages {
      @include flexbox;
      @include justify-content(center);
      flex-wrap: wrap;
      margin: 50px 0 0 20px;
      &-item {
        @include flexbox;
        width: 35vw;
        margin: 50px 30px 0 0;
        background: $background-advantages;
        border-radius: 6px;
        &__title {
          @include font-source-sans('Segoe UI Regular', 1.3rem, $basic-text-color-dark, 600, 29px);
          padding: 43px 70px 22px 40px;
        }
        &__subtitle {
          @include font-source-sans('Segoe UI Regular', 0.9rem, $basic-text-color-medium, 500, 23px);
          padding: 0 30px 30px 40px;
        }
        img {
          padding: 21px 10px 21px 20px;
          max-height: 200px;
        }
      }
    } 
  }
}